.root {
  margin: .4rem;
  border: 1px solid var(--sidebar-border);
  border-radius: 5px;
  background: var(--sidebar-bg);
  width: 15rem;
  /* TODO: fix height (using main flexbox?) */
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.barComponent {
  height: 3em;
  background: var(--sidebar-component-bg);
  color: white;
  border: none;
  font-weight: bold;
}

.barComponent:hover {
  background: var(--sidebar-component-hover);
}

.modal {
  background: var(--new-post-bg);
  margin: auto; /* center, why not default here??? */
  width: 30rem;
  padding: 0;
}

.modal::backdrop {
  background: #0006;
}

.modal > form {
  color: white;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  width: 100%;
  height: 100%;
  gap: .5rem;
  border: 1px solid var(--new-post-border);
}

.header {
  display: flex;
  justify-content: space-between;
}

.close {
  color: white;
  height: 2rem;
  width: 2rem;
  border: 1px solid black;
  border-radius: 4px;
  background: var(--close-bg);
  border: 1px solid var(--new-post-border);
}

.close:hover {
  background: var(--close-hover);
}

.content {
  resize: none;
  background-color: var(--new-post-field-bg);
  border: 1px solid var(--new-post-border);
}

.modal > form> div> span> input {
  background:var(--new-post-field-bg);
  border: 1px solid var(--new-post-border);
  color:white;
}

.actions {
  display: flex;
  justify-content: space-between;
}

.submitpost {
  font-weight: bold;
  color: white;
  height: 2rem;
  border: 1px solid black;
  border-radius: 4px;
  background: var(--new-post-submit-bg);
}

.code {
  width: 6rem;
}

.code, .content {
  color: white;
  background: #333;
  padding: .4rem;
  border: none;
}

/* TODO: make this global */
.code:focus, .content:focus {
  outline: 2px solid var(--border-color);
}
