.root {
  margin: .4rem;
  border: 1px solid #f008;
  border-radius: 5px;
  background: #f001;
  width: 15rem;
  /* TODO: fix height (using main flexbox?) */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.newpost {
  height: 3em;
  background: #f009;
  color: white;
  border: none;
  font-weight: bold;
}

.newpost:hover {
  background: #f00b;
}

.modal {
  background: #222;
  margin: auto; /* center, why not default here??? */
  width: 30rem;
  padding: 0;
}

.modal > form {
  color: white;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  width: 100%;
  height: 100%;
  gap: .5rem;
}

.header {
  display: flex;
  justify-content: space-between;
}

.close {
  color: white;
  height: 2rem;
  width: 2rem;
  border: 1px solid black;
  border-radius: 4px;
  background: #fff2;
}

.close:hover {
  background: #fff3;
}

.modal > form > textarea {
  resize: none;
}

.actions {
  display: flex;
  justify-content: space-between;
}

.submitpost {
  font-weight: bold;
  color: white;
  height: 2rem;
  border: 1px solid black;
  border-radius: 4px;
  background: #f008;
}
